<div class="row" style="margin-top:80px">
    <div class="col-md-4 col-md-offset-2">
        <h1>My Flows</h1>
    </div>

    <div class="col-md-11 col-md-offset-2" style="margin-top:20px">
        <form>
            <input type="checkbox"> Sort By 
            <select>
                <option>Errors</option>
                <option>Option 2</option>
            </select>
        </form>
    </div>

    <div class="col-md-9 col-md-offset-2" style="margin-top:20px">
        <table class="table table-striped">
            <tr>
                <td class="col-md-1">
                    <input type="checkbox">    
                </td>
                <td class="col-md-3">
                    
                    <h5>Flow One</h5>
                    Created 6th May
                    <p class="text-muted">no rating yet</p>
                    
                </td>        
                    
                <td class="col-md-5">
                    
                    <em>0</em> Runs <br />
                    <em>0</em> Errors
                    
                </td>
                    
                <td class="col-md-3">
                    
                    <button class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
                    <button class="btn btn-default">Edit</button>
                    
                </td>
            </tr>

            <tr>
                <td class="col-md-1">
                    <input type="checkbox">    
                </td>
                <td class="col-md-3">
                    
                    <h5>Flow Two</h5>
                    Created 6th May
                    <p class="text-muted">no rating yet</p>
                    
                </td>        
                    
                <td class="col-md-5">
                    
                    <em>0</em> Runs <br />
                    <em>0</em> Errors
                    
                </td>
                    
                <td class="col-md-3">
                    
                    <button class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
                    <button class="btn btn-default">Edit</button>
                    
                </td>
            </tr>
        </table>
    </div>
</div>